<div class="row">
  <% products.each do |product| %>
    <div class="col-sm-4 col-xs-12">
      <div class="productBox">
        <div class="productImage clearfix">
          <% if product.images.size.zero? %>
            <%= link_to image_tag("img/products/products-01.jpg", :alt => "products-img"), potepan_product_path(product.id) %>
          <% else %>
            <%= link_to image_tag(product.images.first.attachment(:large)), potepan_product_path(product.id) %>
        <% end %>
        </div>
        <div class="productCaption clearfix">
          <%= link_to potepan_product_path(product.id) do %>
            <h5><%= product.name %></h5>
          <% end %>
          <h3><%= product.display_price %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>