<div class="row productsContent" id="related_products">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <% related_products.each_with_index do |related_product, index| %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="productBox" id="related_product<%= index %>">
        <div class="productImage clearfix">
          <% if related_product.images.present? %>
            <%= link_to image_tag(related_product.images.order(position: :asc).first.attachment(:large)), potepan_product_path(related_product.id) %>
          <% else %>
            <%= link_to image_tag("img/products/products-01.jpg", :alt => "products-img"), potepan_product_path(related_product.id) %>
          <% end %>
        </div>
        <div class="productCaption clearfix">
          <h5><%= related_product.name %></h5>
          <h3><%= related_product.display_price %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>